@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(68% 0.162 75.834);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(58% 0.158 241.966);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(68% 0.162 75.834);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(58% 0.158 241.966);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

#project-detail p, #blog-detail p, #blog-detail h1, #blog-detail h2, #blog-detail h3, #blog-detail h4, #blog-detail h5, #blog-detail h6 {
  margin-bottom: 1.25rem;
}

#blog-detail h1, #blog-detail h2, #blog-detail h3, #blog-detail h4, #blog-detail h5, #blog-detail h6 {
  font-weight: 600;
}

#blog-detail h1 {
  font-size: 2.25rem;
}
#blog-detail h2 {
  font-size: 2rem;
}
#blog-detail h3 {
  font-size: 1.75rem;
}
#blog-detail h4 {
  font-size: 1.5rem;
}
#blog-detail h5 {
  font-size: 1.25rem;
}
#blog-detail h6 {
  font-size: 1rem;
}
#blog-detail ul, #blog-detail ol {
  list-style-position: outside;
}
#blog-detail li[data-list="bullet"] {
  list-style-type: disc;
}
#blog-detail li[data-list="ordered"] {
  list-style-type: decimal;
}
#blog-detail li, #blog-detail li {
  margin-left: 2rem;
  padding-left: 0.5rem;
}
#blog-detail li.ql-indent-1 {
  margin-left: 4rem;
  padding-left: 0.5rem;
}

.ql-container, .ql-toolbar {
  background-color: var(--color-base-100);
}