@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: #ececec;
  --color-base-200: #e0e0e0;
  --color-base-300: #d4d4d4;
  --color-base-content: #1d1d1d;
  --color-primary: #006bff;
  --color-primary-content: #ececec;
  --color-secondary: #ff9400;
  --color-secondary-content: #ececec;
  --color-accent: #ff9400;
  --color-accent-content: #ececec;
  --color-neutral: #1d1d1d;
  --color-neutral-content: #ececec;
  --color-info: #006bff;
  --color-info-content: #ececec;
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: #1d1d1d;
  --color-warning: #ff9400;
  --color-warning-content: #1d1d1d;
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: #ececec;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: #ececec;
  --color-primary: #006bff;
  --color-primary-content: #ececec;
  --color-secondary: #ff9400;
  --color-secondary-content: #ececec;
  --color-accent: #ff9400;
  --color-accent-content: #ececec;
  --color-neutral: #e0e0e0;
  --color-neutral-content: #1d1d1d;
  --color-info: #006bff;
  --color-info-content: #ececec;
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: #ececec;
  --color-warning: #ff9400;
  --color-warning-content: #ececec;
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: #ececec;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

#project-detail p, #blog-detail p, #blog-detail h1, #blog-detail h2, #blog-detail h3, #blog-detail h4, #blog-detail h5, #blog-detail h6 {
  margin-bottom: 1.25rem;
}

#blog-detail h1, #blog-detail h2, #blog-detail h3, #blog-detail h4, #blog-detail h5, #blog-detail h6,
#project-detail h1, #project-detail h2, #project-detail h3, #project-detail h4, #project-detail h5, #project-detail h6 {
  font-weight: 600;
}

#blog-detail h1,
#project-detail h1 {
  font-size: 2.25rem;
}
#blog-detail h2,
#project-detail h2 {
  font-size: 2rem;
}
#blog-detail h3,
#project-detail h3 {
  font-size: 1.75rem;
}
#blog-detail h4,
#project-detail h4 {
  font-size: 1.5rem;
}
#blog-detail h5,
#project-detail h5 {
  font-size: 1.25rem;
}
#blog-detail h6,
#project-detail h6 {
  font-size: 1rem;
}
#blog-detail ul, #blog-detail ol,
#project-detail ul, #project-detail ol {
  list-style-position: outside;
}
#blog-detail li[data-list="bullet"],
#project-detail li[data-list="bullet"] {
  list-style-type: disc;
}
#blog-detail li[data-list="ordered"],
#project-detail li[data-list="ordered"] {
  list-style-type: decimal;
}
#blog-detail li, #blog-detail li,
#project-detail li, #project-detail li {
  margin-left: 2rem;
  padding-left: 0.5rem;
}
#blog-detail li.ql-indent-1,
#project-detail li.ql-indent-1 {
  margin-left: 4rem;
  padding-left: 0.5rem;
}

.ql-container, .ql-toolbar {
  background-color: var(--color-base-100);
}